<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')%>
  </head>
  <body>
    <div class="container">
      <div id="pokedex-container">
        <header>
          <h1>POKEDEX</h1>
          <a id="new-pokemon" href="/pokemon/new">Add Pokemon</a>
        </header>

        <section id="poke-images">
          <% for(let i = 0; i < pokemon.length; i++){ %>
          <div class="poke-card">
            <a href="<%= i %>"
              ><img class="poke-img" src="<%=pokemon[i].img%>"
            /></a>
            <p class="poke-name"><%=pokemon[i].name%></p>
          </div>

          <% } %>
        </section>
      </div>
    </div>
  </body>
</html>
