<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')%>
  </head>
  <body>
    <div class="container">
      <div id="new-pokedex-container" class="pokedex-container form-container">
        <form action="/pokemon" method="POST">
          <h1>Create a Pok&eacute;mon</h1>
          <p>
            <label for="name">Name:</label>
            <input type="text" name="name" />
          </p>
          <p>
            <label for="img">Image(URL):</label>
            <input type="text" name="img" />
          </p>
          <p>
            <label for="type">Type(s):</label>
            <input type="text" name="type" />
            <input type="text" name="type" />
            <input type="text" name="type" />
          </p>
          <p>
            <label for="hp">Health Points:</label>
            <input type="text" name="stats" />
          </p>
          <p>
            <label for="attack">Attack:</label>
            <input type="text" name="stats" />
          </p>
          <p>
            <label for="defense">Defense:</label>
            <input type="text" name="stats" />
          </p>
          <input id="create-btn" value="Create Pok&eacute;mon" type="submit" />
        </form>
      </div>
    </div>
  </body>
</html>
