* {
  font-family: "Titillium Web", sans-serif;
}

/* index */
#pokedex-container {
  margin: 50px 0 50px 0;
  border-radius: 10px;
  background-color: #cf3056;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
header h1 {
  font-weight: 700;
}
#new-pokemon {
  text-decoration: none;
  color: black;
  background-color: rgb(122, 219, 122);
  padding: 5px 15px;
  border-radius: 10px;
  margin-top: 10px;
  transition: background-color 0.3s;
}
#new-pokemon:hover {
  background-color: rgb(108, 211, 108);
}
h1 {
  color: white;
  text-align: center;
  font-weight: 700;
  padding: 50px 0 20px 0;
}
#poke-images {
  margin: 0 20px 20px 20px;
  text-align: center;
  /* border-radius: 10px; */
}
.poke-card {
  padding: 10px;
  width: 150px;
  height: 150px;
  display: inline-block;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
  opacity: 90%;
  transition: opacity 0.3s, box-shadow 0.3s;
}

.poke-img {
  margin: auto;
  width: 110px;
  height: 110px;
  object-fit: contain;
}
.poke-card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  opacity: 100%;
}
.poke-name {
  font-family: "Titillium Web", sans-serif;
  font-size: 18px;
  margin: 0;
  font-weight: bold;
}

/* show */
#show-card {
  max-width: 300px;
  height: 450px;
  margin: 50px auto 0 auto;
  background-color: #cf3056;
  border: solid 10px #ffd65b;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#show-card-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 50px;
}
#show-card-header p {
  display: inline;
  text-align: center;
  color: black;
  background-color: white;
  font-size: 20px;
  padding: 1px 15px;
  border-radius: 5px;
  font-weight: bold;
}
#show-card-header a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  background-color: rgb(108, 211, 108);
  padding: 1px 10px;
  border-radius: 5px;
}
#show-card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: 190px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#show-card-img img {
  width: auto;
  max-width: 200px;
  height: auto;
  max-height: 150px;
}

#show-card-details {
  background-color: #ffd65b;
  color: black;
  margin-top: 20px;
  width: 300px;
  height: 190px;
  border-radius: 5px;
  display: flex;
  justify-content: start;
}
#types {
  width: 130px;
}
#types li {
  display: flex;
  align-items: center;
}
#stats {
  width: 170px;
}
#type-icon {
  width: 20px;
  margin-right: 3px;
}
#show-card-details ul {
  margin: 10px 20px 10px 20px;
  font-size: 20px;
  list-style: none;
}
#show-card-details ul p {
  font-weight: bold;
  color: black;
  margin: 0;
}
#show-card-details ul a {
  padding: 0;
  margin: 0;
  padding: 0 10px;
  border-radius: 5px;
  background-color: #cf3056;
  opacity: 40%;
  color: white;
  border: none;
  text-decoration: none;
  font-size: 10px;
  margin-left: 5px;
}
#show-card-details ul a:hover {
  opacity: 100%;
}

#show-card-details li {
  margin: 0;
  font-size: 18px;
}
footer {
  display: flex;
  gap: 30px;
  justify-content: center;
}
footer a {
  margin-top: 20px;
  display: block;
  text-align: center;
}
footer a:last-child {
  color: #cf3056;
}
footer input[type="submit"] {
  color: #cf3056;
  border: none;
  text-decoration: underline;
  text-transform: capitalize;
  font-size: 15px;
  margin-top: 13px;
  padding: 0;
}
i {
  font-size: 17px;
  margin-right: 5px;
}
.fa-heart {
  color: #df1b48;
}
.fa-shield-halved {
  color: rgb(22, 174, 234);
}
/* new.ejs */
form input {
  margin: 10px;
}
